
body {
  background-color: #1e1e1e;
  margin: 0;
  padding: 0;
  text-align: center;

}

.header-img {
  width: 100%;
  height: 600px;
  background-image: url('test.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.title {
  height: 90px;
  width: 680px;
}

.subtitle {
  height: 70px;
  width: 850px;
}

h1 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 90px;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
  text-shadow: 4px 4px 4px #000000;
}

h2 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
  text-shadow: 4px 4px 4px #000000;
}

.foreword {
  width: 50%;
  display: block;
  margin: auto;
  padding: 30px 0px;
}

h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 20px 0px;
  line-height: 1.5em;
}

h4 {
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.05em;
  margin: 34px;

}

.list {
  background-color: #333;
  border-radius: 15px;
  width: min(70%, 900px);
  height: auto;
  display: block;
  margin: 0px auto;
  padding: 8px 70px 30px 50px;
}

ul {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 300;
  margin-bottom: 0;
  line-height: 1.5em;
}

strong {
  font-weight: 900;
}

.gallery {
  width: min(70%, 1000px);
  height: auto;
  overflow: hidden;
  display: flex;
  margin: 60px auto 20px auto;
}

.gallery img {
  width: 50%;
  height: auto;
  display: inline;
}

.caption {
  width: 80%;
  margin: 0 auto 40px auto;
}

p {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.list p {
  font-style: italic;
  font-size: 1.2em;
  font-weight: 400;
}

footer {
  margin-top: 60px;
  padding: 10px;
  background-color: #333;
}

footer img {
  width: 80px;
  height: auto;
  position: relative;
  top: 10px;
}
a {
  color: white;
}

/* Formating for mobile and tablet */

@media screen and (max-width: 1030px) and (min-width: 895px) {

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 50px;
  }

  .title {
    height: 80px;
    width: 710px;
  }

  .subtitle {
    height: 50px;
    width: 810px;
  }
}
@media screen and (max-width: 894px) and (min-width: 761px){

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 44px;
  }

  .title {
    height: 70px;
    width: 620px;
  }

  .subtitle {
    height: 44px;
    width: 716px;
  }

  .header-img {
    height: 450px;
  }

  h3 {
    font-size: 16px;
  }

  ul, .list p, footer p {
    font-size: 16px;
  }

  .caption p {
    font-size: 14px;
  }
}

@media screen and (max-width: 760px) and (min-width: 606px){
  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 40px;
  }

  .title {
    height: 60px;
    width: 430px;
  }

  .subtitle {
    height: 40px;
    width: 575px;
  }

  .header-img {
    height: 380px;
  }
  .foreword  {
    padding: 20px 0;
  }

  h3 {
    font-size: 14px;
  }

  h4 {
    font-size: 26px;
  }

  .list {
    padding: 8px 50px 30px 30px;
  }

  ul, .list p, footer p {
    font-size: 14px;
  }

  .gallery {
    margin: 40px auto 0 auto;
  }

  .caption p {
    font-size: 14px;
  }

  footer {
    margin-top: 30px;
  }
  footer img {
    width: 50px;
    height: auto;
    top: 5px;
  }
}

@media screen and (max-width: 605px) and (min-width: 480px){
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  .title {
    height: 40px;
    width: 310px;
  }

  .subtitle {
    height: 30px;
    width: 430px;
  }

  .header-img {
    height: 280px;
  }
  .foreword  {
    padding: 12px 0;
  }

  h3 {
    font-size: 12px;
  }

  h4 {
    font-size: 30px;
  }

  .list {
    width: 90%;
    padding: 3px 20px 18px 30px;
  }

  .list p {
    margin-top: 0px;
    padding-top: 0px;
  }

  ul, .list p, footer p {
    font-size: 14px;
  }

  .gallery {
    margin: 40px auto 0 auto;
    width: 90%
  }

  .caption p {
    font-size: 14px;
  }

  .caption {
    margin-bottom: 20px;
  }

  footer {
    margin-top: 20px;
  }
  footer img {
    width: 50px;
    height: auto;
    top: 5px;
}
}

@media screen and (max-width: 479px) and (orientation: portrait){
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 24px;
  }

  .title {
    height: 44px;
    width: 342px;
  }

  .subtitle {
    height: 24px;
    width: 352px;
  }

  .header-img {
    height: 200px;
  }

  .foreword  {
    padding: 2px 0;
    width: 75%
  }

  h3 {
    font-size: 14px;
  }

  h4 {
    font-size: 28px;
  }

  .list {
    width: 90%;
    padding: 10px 30px 18px 6px;
    border-radius: 0;
  }

  .list p {
    margin-top: 0px;
    padding-top: 0px;
  }

  ul, .list p, footer p {
    font-size: 14px;
  }

  .gallery {
    margin: 30px auto 0 auto;
    width: 75%;
    display: flex;
    flex-direction: column;
  }

  .gallery img {
    width: 100%;
  }

  .caption p {
    font-size: 12px;
  }

  .caption {
    margin-bottom: 20px;
  }

  footer {
    margin-top: 10px;
    padding: 6px;
  }
  footer img {
    width: 60px;
    height: auto;
    top: 5px;
  }
}

/*Formating for larger screens */
@media screen and (min-width: 1500px) and (max-width: 1999px){
  h1 {
    font-size: 150px;
  }

  h2 {
    font-size: 90px;

  }

  .title {
    height: 150px;
    width: 1116px;
  }

  .subtitle {
    height: 90px;
    width: 1260px;
  }

  .header-img {
    height: 800px;
  }

  h3 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 58px;
  }

  ul, .list p, footer p {
    font-size: 1em;
  }

  .caption p {
    font-size: 1em;
  }

}

@media screen and (min-width: 2000px) {

  h1 {
    font-size: 250px;
  }

  h2 {
    font-size: 160px;
  }

  .title {
    height: 250px;
    width: 1890px;
  }

  .subtitle {
    height: 160px;
    width: 2260px;
  }

  .header-img {
    height: 1200px;
  }

  h3 {
    font-size: 2.2em;
    padding: 60px;
  }

  h4 {
    font-size: 80px;
    margin: 70px;
  }

  .list {
    width: 1600px;
  }

  ul, .list p, footer p {
    font-size: 2em;
  }

  .caption p {
    font-size: 2em;
  }

  footer img {
    width: 120px;
  }

  footer  {
    margin-top: 120px;
  }

  .gallery {
    width: 1500px;
    padding-top: 60px;
  }

}
